doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container.main-page
        
            include ../layout/header

            main.about-page
                h1.main-header.wrapper О компании


                include ../layout/about.pug

                include ../layout/logo-slider.pug

                include ../layout/team.pug
                
                include ../layout/footer.pug
