doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container.main-page
        
            include ../layout/header

            main.case-page

                include ../layout/case.pug


                include ../layout/footer.pug
