doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container
        
            include ../layout/header

            main.contacts-page
                h1.main-header.wrapper Контакты

                include ../layout/contacts.pug

                
            include ../layout/footer.pug
