doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container.main-page
        
            include ../layout/header

            main.main-page
                include ../layout/main-header

                include ../layout/logo-slider.pug

                
                .mob-header__order.wrapper
                    +buttonModal('Заказать проект', '', 'callback')


                include ../layout/main-about.pug

                section.cases

                    .wrapper
                        h2.section-title Реализованные кейсы

                    include ../layout/cases.pug

                    .cases__btn.wrapper
                        +button('Другие проекты', '/cases.html')

                include ../layout/news.pug

                include ../layout/footer.pug

    



