doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container
        
            include ../layout/header

            main.job-page
                

                include ../layout/job.pug

                
            include ../layout/footer.pug