doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container
        
            include ../layout/header

            main.contacts-page
                h1.main-header.wrapper Новости компании

                include ../layout/news-grid.pug

                
            include ../layout/footer.pug
