doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container
        
            include ../layout/header

            main.single-news-page
                .single-news-header.wrapper
                    p 20.09.2022
                    h1 Почему переезд с CMS на 1С-Битрикс Управление сайтом - важный шаг для вашего бизнеса?

                include ../layout/single-news.pug

                
            include ../layout/footer.pug