section.main-about
    .side-info.wrapper
        h3.side-info__title Компетенции
        
        .side-info__content
            .side-info__text Разработка web-проектов начиная от набросков до полного запуска и продвижения в интернете


    .side-info.wrapper
        h3.side-info__title.dt Почему выбирают нас
        
        .side-info__content
            .nums
                .nums__left
                    .nums__item
                        .nums__num.big-num 500+
                        .nums__text Проектов реализовано

                .nums__right
                    .nums__item
                        .nums__num 6+
                        .nums__text Лет на рынке

                    .nums__item
                        .nums__num 73+
                        .nums__text Дополнительных услуг

                    .nums__item
                        .nums__num 90+
                        .nums__text Гос. заказов

                    .nums__item
                        .nums__num 26 млн+
                        .nums__text Прибыль заказчиков

