

.cases__tiles

    .cases__tile
        img.tile__bg(src="images/cases/1.png")
        .cases__badges
            +badge('Промо-сайт')
            +badge('Веб-разработка')
        a.cases__tile-title Корпоративный сайт компании по продаже напитков Niagara

    .cases__tile
        img.tile__bg(src="images/cases/2.png")
        .cases__badges
            +badge('SEO-продвижение')
            +badge('Веб-разработка')
        a.cases__tile-title Сайт юридической компании по банкротству физ. лиц


    .cases__tile
        img.tile__bg(src="images/cases/3.png")
        .cases__badges
            +badge('E-commerce')
            +badge('Веб-разработка')
        a.cases__tile-title Интернет-магазин кухонных моек Rivelato

    .cases__tile
        img.tile__bg(src="images/cases/4.png")
        .cases__badges
            +badge('Веб-разработка')
        a.cases__tile-title Промо-страница для мероприятия компании Sobha Realty 


    .cases__tile
        img.tile__bg(src="images/cases/5.png")
        .cases__badges
            +badge('SEO-продвижение')
            +badge('Веб-разработка')
        a.cases__tile-title Сайт для оптовых продаж моек и смесителей


    .cases__tile
        img.tile__bg(src="images/cases/6.png")
        .cases__badges
            +badge('Веб-разработка')
        a.cases__tile-title Сайт-каталог по продаже запчастей для спец.техники


