.case
    .case__top.wrapper

        .case__info

            .case__year 2023
            .case__name Ниагара

        .case__btn
            +buttonModal('Заказать проект', '', 'callback')

    .case__meta.wrapper

        .case__meta-item
            p.case__meta-item-title Услуга

            p.case__meta-item-name Переезд сайта

        .case__meta-item
            p.case__meta-item-title Тематика

            p.case__meta-item-name Напитки

        .case__meta-item
            p.case__meta-item-title Клиент

            p.case__meta-item-name Ниагара

        .case__meta-item
            p.case__meta-item-title Сайт

            a.case__meta-item-name(href="http://niagara-drinks.ru") niagara-drinks.ru


    .side-info.wrapper
        h3.side-info__title О проекте
        
        .side-info__content
            .side-info__text.
                Разработка промо сайта для водной компании, цель которого - привлечь внимание и показать продукцию на одной интересной странице сайта, не как у всех



    .case__img
        a(data-fslightbox="gallery" href="images/case/niagara/1.png")
            img(src="images/case/niagara/1.png")


    .side-info.wrapper
        h3.side-info__title Бизнес-задача
        
        .side-info__content
            .side-info__text.
                Объединить десяток продуктов компании на одной странице используя интересную анимацию и подачу материала

    .case__img
        a(data-fslightbox="gallery" href="images/case/niagara/2.png")
            img(src="images/case/niagara/2.png")


    .case__grid

        .case__grid-item
            .case__grid-title Карточка товара
            .case__grid-img
                img(src="images/case/niagara/mob-1.png")
        .case__grid-item
            .case__grid-title Бургер-меню
            .case__grid-img
                img(src="images/case/niagara/mob-2.png")
        .case__grid-item
            .case__grid-title Описание продукта
            .case__grid-img
                img(src="images/case/niagara/mob-3.png")
        .case__grid-item
            .case__grid-title Вкусы продукции
            .case__grid-img
                img(src="images/case/niagara/mob-4.png")


    .case__extra.wrapper
        .case__extra-title Дополнительные опции

        .case__row
            .case__row-title
                sup 01
                p Улучшения

            .case__row-content
                .case__row-item
                    p.case__row-title Оптимизация картинок
                    p.case__row-text Для быстрой загрузки страниц сайта сжали изображения на сайте с помощью кода
                .case__row-item
                    p.case__row-title 3D модели
                    p.case__row-text Множество 3D моделей на страницах было сделано нашими специалистами
                .case__row-item
                    p.case__row-title Перевод на английский
                    p.case__row-text Страницы скопированы и переведены на английский язык для презентации за границей
                .case__row-item
                    p.case__row-title Интеграция с CRM
                    p.case__row-text Выполняя настройки сайта мы настроили интеграцию с СRM Битрикс24 для отправки заявок
        .case__row
            .case__row-title
                sup 02
                p Анимация

            .case__row-content
                .case__row-item
                    p.case__row-title Карта
                    p.case__row-text При наведении на страну, появляется цвет участка на карте мира, а так же наоборот
                .case__row-item
                    p.case__row-title История
                    p.case__row-text Прокрутка страницы с фиксацией информации в одном положении позволяет показывать историю

        .case__row
            .case__row-title
                sup 03
                p Контент

            .case__row-content
                .case__row-item
                    p.case__row-title Вывод новостей
                    p.case__row-text В административной части сайта заполняется контент и выводится на странице
                .case__row-item
                    p.case__row-title Фильтрация
                    p.case__row-text Сделали разделение товаров на под-категории и в красочных картинках презентовали товары
                .case__row-item
                    p.case__row-title Вакансии
                    p.case__row-text Заказчику важно было показывать актуальные вакансии компании и для этого сделан отдельный блок
                .case__row-item
                    p.case__row-title UX/UI
                    p.case__row-text UX/UI аналитика использования нестандартных сайтов привела к такому расположению блоков


    .case__video
        //- svg.video-play(width="24" height="26" )
        //-     use(xlink:href="images/sprite.svg#play")
        video(src="reel.mp4" autoplay muted loop)


    .wrapper.case__order
        +buttonModal('Заказать проект', '', 'callback')


