
.side-info.wrapper
    h3.side-info__title Результат работы
    
    .side-info__content
        .side-info__text С 2017 года работаем на digital рынке, производя web-проекты для наших клиентов. Реализовали 500+ сайтов и 2460+ задач по ним


.cases__tiles

    .cases__tile
        img.tile__bg(src="images/cases/1.png")
        .cases__badges
            +badge('Промо-сайт')
            +badge('Веб-разработка')
        a.cases__tile-title Корпоративный сайт компании по продаже напитков Niagara

    .cases__tile
        img.tile__bg(src="images/cases/2.png")
        .cases__badges
            +badge('SEO-продвижение')
            +badge('Веб-разработка')
        a.cases__tile-title Сайт юридической компании по банкротству физ. лиц


    .cases__tile
        img.tile__bg(src="images/cases/3.png")
        .cases__badges
            +badge('E-commerce')
            +badge('Веб-разработка')
        a.cases__tile-title Интернет-магазин кухонных моек Rivelato

    .cases__tile
        img.tile__bg(src="images/cases/4.png")
        .cases__badges
            +badge('Веб-разработка')
        a.cases__tile-title Промо-страница для мероприятия компании Sobha Realty 


    .cases__tile
        img.tile__bg(src="images/cases/5.png")
        .cases__badges
            +badge('SEO-продвижение')
            +badge('Веб-разработка')
        a.cases__tile-title Сайт для оптовых продаж моек и смесителей


    .cases__tile
        img.tile__bg(src="images/cases/6.png")
        .cases__badges
            +badge('Веб-разработка')
        a.cases__tile-title Сайт-каталог по продаже запчастей для спец.техники

    .cases__tile
        img.tile__bg(src="images/cases/7.jpg")
        .cases__badges
            +badge('Внедрение CRM')
        a.cases__tile-title Внедрение CRM для транспортной компании

.cases__btn.wrapper
    +button('Заказать проект')