.side-info.wrapper.contacts-page__top
    h3.side-info__title Почему выбирают нас
    
    .side-info__content
        .side-info__text. 
            ICONICA всегда на связи. Мы готовы дать консультацию по вашему вопросу любым подходящим способом. Также можете связаться 
            с нами самостоятельно в удобное время

.side-info.wrapper.contacts-page__contacts
    h3.side-info__title Адреса электронной почты
    
    .side-info__content
        .req
            .rows
                .rows__title Отдел продаж

                .rows__text 
                    a(href="mailto: mia@iconica.site") mia@iconica.site
            .rows
                .rows__title Общая почта

                .rows__text 
                    a(href="mailto: hello@iconica.site") hello@iconica.site
            .rows
                .rows__title Поддержка

                .rows__text 
                    a(href="mailto: support@iconica.site") support@iconica.site
            .rows
                .rows__title Отдел разработки

                .rows__text 
                    a(href="mailto: btm@iconica.site") btm@iconica.site
            .rows
                .rows__title Денис Чернецов (руководитель)

                .rows__text 
                    a(href="mailto: cda@iconica.site") cda@iconica.site

.contacts-page__btn.wrapper 
    +button('заказать звонок')
    
