
.invite.wrapper
    .invite__spacer

    .invite__content 
        h3.invite__title Мы разработали личный кабинет для наших заказчиков

        .invite__btn
            +button('ВОЙТИ ИЛИ ЗАРЕГИСТРИРОВАТЬСЯ')


footer.wrapper
    .footer
        .footer__logo-wrap
            .logo.footer__logo
                a(href="/") Iconica
            .footer__sublogo Интернет-магазины под ключ, разработка корпоративных порталов, посадочные страницы - это наша зона ответственности

            a.footer__order(data-modal="callback") Заказать проект
                

        .footer__nav
            .footer__nav-col.grid-services
                .footer__nav-title Услуги
                a.footer__nav-item(href="") Разработка сайтов
                a.footer__nav-item(href="") Брендинг
                a.footer__nav-item(href="") Продвижение
                a.footer__nav-item(href="") Автоматизация
                a.footer__nav-item(href="") Прочее

            .footer__nav-col.grid-about
                .footer__nav-title О нас
                a.footer__nav-item(href="") Новости 
                a.footer__nav-item(href="") Статьи
                a.footer__nav-item(href="") Обучение 
                a.footer__nav-item(href="") Блог
                a.footer__nav-item(href="") Отзывы
                a.footer__nav-item(href="") Вакансии
                a.footer__nav-item(href="") Сотрудники

            .footer__nav-col.grid-soc
                .footer__nav-title Социальные сети
                a.footer__nav-item(href="") Telegram
                a.footer__nav-item(href="") WhatsApp
                a.footer__nav-item(href="") VK
                a.footer__nav-item(href="") Instagam
                a.footer__nav-item(href="") VC.ru

            .footer__nav-col.grid-contacts
                .footer__nav-title Контакты
                a.footer__nav-item.footer__nav-tel(href="tel:+78122447093") +7 812 244 70 93
                a.footer__nav-item.footer__nav-email(href="mailto:hello@iconica.site") hello@iconica.site
                a.footer__nav-item.footer__nav-address(href="yandex.ru") г. Санкт-Петербург, Каменноостровский пр, 40


    .footer-bottom
        .footer-bottom__year
            span ©2023

        .footer-bottom__links
            a.footer-bottom__link(href="") Политика конфиденциальности
            a.footer-bottom__link(href="") Сертификаты
            a.footer-bottom__link(href="") Реквизиты


.mob-menu

    nav.mob-menu__nav
        ul.mob-menu__list
            li.mob-menu__link
                a(href="services.html") Услуги
            li.mob-menu__link
                a(href="cases.html") Портфолио
            li.mob-menu__link
                a(href="about.html") Компания
            li.mob-menu__link
                a(href="jobs.html") Вакансии
            li.mob-menu__link
                a(href="contacts.html") Контакты


    .mob-menu__contacts

        .mob-menu__soc

            a(href="")
                svg(width="43px" height="43px")
                    use(xlink:href="images/sprite.svg#tg")
            a(href="")
                svg(width="43px" height="43px")
                    use(xlink:href="images/sprite.svg#wa")
            a(href="")
                svg(width="43px" height="43px")
                    use(xlink:href="images/sprite.svg#vk")
            a(href="")
                svg(width="43px" height="43px")
                    use(xlink:href="images/sprite.svg#ig")

        .mob-menu__bottom
            a.mob-menu__tel(href="+78122447093") +7 812 244 70 93

            .mob-menu__order
                +buttonModal('Заказать проект', '', 'callback')

.modal
    .modal__content
        .modal__close-cross.modal__close
        .modal__content-inner


.modal__templates.hidden

    .callback
        .callback__modal
            h2.modal__header Заказать звонок

            form.modal__form(id="callback-form" method="post")

                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="name" placeholder="Имя *" data-required)
                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="phone" placeholder="Номер телефона *" data-required)

                label.policy__checkbox
                    input.policy__checkbox-input(type="checkbox")
                    .policy__checkbox-square
                        span.policy__checkbox-checkmark
                    .policy__checkbox-text Я согласен с <a href="/policy.html" target="_blank">политикой обработки конфиденциальных данных</a>
                    span.policy-err
                .modal__submit-wrap
                    input.modal__submit.modal__btn.btn(type="submit" value="Отправить данные")

    .vacancy
        .vacancy__modal
            h2.modal__header Отклик на вакансию

            form.modal__form(id="vacancy-form" method="post")

                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="name" placeholder="ФИО *" data-required)
                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="phone" placeholder="Номер телефона *" data-required)
                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="name" placeholder="Электронная почта")
                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="phone" placeholder="Желаемая должность *" data-required)
                label.modal__input-wrap.input-wrap
                    textarea.modal__input.inp(type="text" name="phone" placeholder="Сопроводительное письмо")

                label.policy__checkbox
                    input.policy__checkbox-input(type="checkbox")
                    .policy__checkbox-square
                        span.policy__checkbox-checkmark
                    .policy__checkbox-text Я согласен с <a href="/policy.html" target="_blank">политикой обработки конфиденциальных данных</a>
                    span.policy-err

                label.modal__attach
                    input.modal__attach-input(type="file" name="file")
                    .modal__attach-title 
                        span Прикрепить документы
                    span.modal__attach-text

                .modal__submit-wrap
                    input.modal__submit.modal__btn.btn(type="submit" value="Отправить данные")


    .thanksVakancy
        .thanksVakancy__modal
            h2.modal__header Спасибо за заявку.
            p.modal__text Мы свяжемся с Вами в ближайшее время


    .thanksCallback
        .thanksCallback__modal
            h2.modal__header Спасибо за отклик.
            p.modal__text Мы свяжемся с Вами в ближайшее время



    a.thanksVakancyLink(data-modal="thanksVakancy")
    a.thanksCallbackLink(data-modal="thanksCallback")








script(src="libs/swiper-bundle.min.js")
script(src="libs/fslightbox.js")
script(src="libs/imask.js")
script(src="scripts/main.js")