.job-page__top-wrap.wrapper
    .job-page__title
        h1.main-header Проектный менеджер
        .job-page__adv
            span Удаленная работа
            span Гибкий график
            span Карьерный рост

    .job-page__btn 
        +button('Откликнуться')

.jobs-page__content

    .side-info.wrapper
        h3.side-info__title О вакансии
        
        .side-info__content
            .side-info__text. 
                Задача менеджера, ежедневная коммуникация 
                с клиентами компании, сопровождение нескольких проектов. Постановка и контроль выполнения задач, сроков и согласование результатов 
                с заказчиком.


    .side-info.wrapper
        h3.side-info__title Обязанности
        
        .side-info__content
            .side-info__text
                ul
                    li составлять план работ;
                    li формировать команду и распределять задачи;
                    li контролировать сроки проекта;
                    li коммуницировать с заказчиками;
                    li разрешать конфликтные ситуации.

    .side-info.wrapper
        h3.side-info__title Требования
        
        .side-info__content
            .side-info__text
                ul
                    li опыт руководства проектами от года;
                    li умение объяснять сложные вещи простым языком;
                    li понимание процессов разработки, верстки, CRM систем , 1C.
                    li навык оценки трудозатрат и сроков выполнения работ;
                    li умение задавать правильные вопросы и находить общий язык с заказчиками;
                    li умение быстро и качественно структурировать большие объемы информации;


.wrapper.job-page__btn--mob
    +button('Откликнуться')