.side-info.wrapper
    h3.side-info__title Открытые вакансии
    
    .side-info__content
        .side-info__text Мы всегда в поисках талантливых специалистов. Ознакомиться с перечнем открытых вакансий можно ниже


.jobs.wrapper

    .job
        a.job__ext(href="")
            svg(width="28px" height="28px")
                use(xlink:href="images/sprite.svg#ext")
        .job__info
            .job__name Проектный менеджер
            .job__descr
                p Обязанности:
                ul
                    li составлять план работ;
                    li формировать команду и распределять задачи;
                    li контролировать сроки проекта; 
                    li коммуницировать с заказчиками;

                p Требования:
                ul
                    li опыт руководства проектами от года;
                    li умение объяснять сложные вещи простым языком

        a.job__btn(href="") Откликнуться

    .job
        a.job__ext(href="")
            svg(width="28px" height="28px")
                use(xlink:href="images/sprite.svg#ext")
        .job__info
            .job__name Web-программист
            .job__descr
               
                p Обязанности:
                ul
                    li PHP/MySQL;
                    li HTML;
                    li CSS;
                    li Java Script.

                p Требования:
                ul
                    li умение делать адаптивную верстку;
                    li умение работать с системами контроля версий;
                    li желание думать головой и учиться, постоянно

        a.job__btn(href="") Откликнуться

    .job
        a.job__ext(href="")
            svg(width="28px" height="28px")
                use(xlink:href="images/sprite.svg#ext")
        .job__info
            .job__name HTML–верстальщик
            .job__descr

                p Обязанности:
                ul
                    li Вёрстка по макетам
                    li Правка и внесение изменений в существующие проекты

                p Требования:
                ul
                    li Знания HTML, CSS,
                    li Минимальные знания JS+jQuery, на уровне показать-скрыть объект, прочитать уже написанное

        a.job__btn(href="") Откликнуться

    .job
        a.job__ext(href="")
            svg(width="28px" height="28px")
                use(xlink:href="images/sprite.svg#ext")
        .job__info
            .job__name Веб-дизайнер
            .job__descr
                p Обязанности:
                ul
                    li Проводить встречи как с внутренними так и с внешними клиентами вместе с проект-менеджером
                    li Отрисовка новых макетов, как лэндингов так и многостраничных сайтов
                    li Доработка дизайна существующих сайтов

                p Требования:
                ul
                    li  Знание программ Figma, Adobe Photoshop
                    li Плюсом будет знание Illustrator

        a.job__btn(href="") Откликнуться

    .job
        a.job__ext(href="")
            svg(width="28px" height="28px")
                use(xlink:href="images/sprite.svg#ext")
        .job__info
            .job__name Интернет-маркетолог
            .job__descr
                p Обязанности:
                ul
                    li Проведение маркетинговых исследований и анализ рынка
                    li Разработка мероприятий, способствующих расширению рынка продаж

                p Требования:
                ul
                    li Высшее образование
                    li Стаж работы от 3 лет
                    
        a.job__btn(href="") Откликнуться

    .job
        a.job__ext(href="")
            svg(width="28px" height="28px")
                use(xlink:href="images/sprite.svg#ext")
        .job__info
            .job__name Проектный менеджер
            .job__descr
                p Обязанности:
                ul
                    li составлять план работ;
                    li формировать команду и распределять задачи;
                    li контролировать сроки проекта; 
                    li коммуницировать с заказчиками;

                p Требования:
                ul
                    li опыт руководства проектами от года;
                    li умение объяснять сложные вещи простым языком

        a.job__btn(href="") Откликнуться




.side-info.wrapper.jobs__bottom
    .side-info__title
    
    .side-info__content
        .side-info__text Не нашли подходящую вакансию? Оставьте свое резюме, и мы обязательно изучим его. Возможно, мы как раз в поисках такого специалиста как Вы
        +button('ОТПРАВИТЬ РЕЗЮМЕ', '#')

