.logos-slider.swiper
    .swiper-wrapper
        .logos-slide.swiper-slide
            img(src="images/logo-slider/1.png")
        .logos-slide.swiper-slide
            img(src="images/logo-slider/2.png")
        .logos-slide.swiper-slide
            img(src="images/logo-slider/3.png")
        .logos-slide.swiper-slide
            img(src="images/logo-slider/4.png")
        .logos-slide.swiper-slide
            img(src="images/logo-slider/5.png")
        .logos-slide.swiper-slide
            img(src="images/logo-slider/6.png")
        .logos-slide.swiper-slide
            img(src="images/logo-slider/7.png")
        .logos-slide.swiper-slide
            img(src="images/logo-slider/8.png")

