section.main-header.wrapper

    .main-header__about  
        h1.main-header__header Создаем эстетичный и удобный дизайн для вашего бизнеса
        p.main-header__subtitle Интернет-магазины под ключ, разработка корпоративных порталов, посадочные страницы - это наша зона ответственности

    .main-header__order
        +button('Заказать проект')

.subheader
    .subheader--inner.wrapper
        p Digital agency
        p Since 2017

.main-video
    .main-video--inner
        video(src="reel.mp4" autoplay controls muted loop)

