.news-grid.grid-top.wrapper

    .grid-left
        .news-grid__item
            a.news__img(href="")
                img(src="images/news/1.jpg")
            .news__content
                .news__info
                    .news__date 20.11.2022
                    a.news__title(data-crop=40) Почему переезд с CMS на 1С-Битрикс Управление сайтом - важный шаг для вашего бизнеса?
                    .news__preview(data-crop=100) Переход на 1С-Битрикс Управление сайтом – прорыв в онлайн-бизнесе. У платформы 400 функций, куда входит аналитика, управление контентом, маркетинг, встроенная CRM и не только
                .news__more
                    +more('Узнать больше', '#')

                    
        .news-grid__item
            a.news__img(href="")
                img(src="images/news/2.jpg")
            .news__content
                .news__info
                    .news__date 20.11.2022
                    a.news__title(data-crop=40) Интеграции веб-формы и CRM Битрикс24: особенности, тонкости, пошаговая настройка
                    .news__preview(data-crop=100) Мы настраивали отправку данных из веб-форм в CRM Битрикс24 и столкнулись со следующей проблемой. Сначала веб-форма не отправляет данные в Битрикс24, а потом "веб-форма на найдена" при клике на кнопки форм интернет магазина на АСПРО Максимум.
                .news__more
                    +more('Узнать больше', '#')

    .news-grid__item.grid-right
        a.news__img(href="")
            img(src="images/news/3.jpg")
        .news__content
            .news__info
                .news__date 02.10.2022
                a.news__title(data-crop=40) «Помнить» о клиентах все, чтобы был и сервис высокий показать
                .news__preview(data-crop=100) «Помнить» о клиентах все, чтобы и сервис высокий показать, и заработать больше :) Показательные примеры сфер бизнеса: продажа товаров или услуг для домашних животных; автомобильные запчасти или сервис.

            .news__more
                +more('Узнать больше', '#')

.grid-bottom.wrapper
    .news-grid__item
        a.news__img(href="")
            img(src="images/news/1.jpg")
        .news__content
            .news__info
                .news__date 25.09.2022
                a.news__title(data-crop=40) Как прогревать базу клиентов? Часть 2 
                .news__preview(data-crop=100) Как говорили в предыдущей статье, не всегда клиенты готовы купить сразу: чем дороже, сложнее товар или услуга, – тем больше нужно времени для принятия решения. Далее рассмотрели как можно использовать эти знания и автоматизировать прогрев, теперь же мы поговорим о касаниях с клиентом.
            .news__more
                +more('Узнать больше', '#')

                
    .news-grid__item
        a.news__img(href="")
            img(src="images/news/2.jpg")
        .news__content
            .news__info
                .news__date 25.09.2022
                a.news__title(data-crop=40) Как прогревать базу клиентов? Часть 1
                .news__preview(data-crop=100) Не всегда клиенты готовы купить сразу: чем дороже, сложнее товар или услуга, – тем больше нужно времени для принятия решения.
            .news__more
                +more('Узнать больше', '#')

    .news-grid__item
        a.news__img(href="")
            img(src="images/news/3.jpg")
        .news__content
            .news__info
                .news__date 20.09.2022
                a.news__title(data-crop=40) Изящный дизайн интернет магазина LunaSoleil
                .news__preview(data-crop=100) Работайте с клиентами быстро! Начнем с базовых, но полезных настроек. Решая задачи компании, разберем основы настроек роботов и триггеров! Итак, что же будем решать?
            .news__more
                +more('Узнать больше', '#')

