.news-grid.grid-top.wrapper

    .grid-left
        .news-grid__item
            a.news__img(href="")
                img(src="images/news/1.jpg")
            .news__content
                .news__info
                    .news__date 20.11.2022
                    a.news__title(data-crop=40) Почему переезд с CMS на 1С-Битрикс Управление сайтом - важный шаг для вашего бизнеса?
                    .news__preview(data-crop=100) Переход на 1С-Битрикс Управление сайтом – прорыв в онлайн-бизнесе. У платформы 400 функций, куда входит аналитика, управление контентом, маркетинг, встроенная CRM и не только
                .news__more
                    +more('Узнать больше', '#')

                    
        .news-grid__item
            a.news__img(href="")
                img(src="images/news/2.jpg")
            .news__content
                .news__info
                    .news__date 20.11.2022
                    a.news__title(data-crop=40) Почему переезд с CMS на 1С-Битрикс Управление сайтом - важный шаг для вашего бизнеса?
                    .news__preview(data-crop=100) Переход на 1С-Битрикс Управление сайтом – прорыв в онлайн-бизнесе. У платформы 400 функций, куда входит аналитика, управление контентом, маркетинг, встроенная CRM и не только
                .news__more
                    +more('Узнать больше', '#')

    .news-grid__item.grid-right
        a.news__img(href="")
            img(src="images/news/3.jpg")
        .news__content
            .news__info
                .news__date 20.11.2022
                a.news__title(data-crop=40) Почему переезд с CMS на 1С-Битрикс Управление сайтом - важный шаг для вашего бизнеса?
                .news__preview(data-crop=100) Переход на 1С-Битрикс Управление сайтом – прорыв в онлайн-бизнесе. У платформы 400 функций, куда входит аналитика, управление контентом, маркетинг, встроенная CRM и не только
            .news__more
                +more('Узнать больше', '#')

.grid-bottom.wrapper
    .news-grid__item
        a.news__img(href="")
            img(src="images/news/1.jpg")
        .news__content
            .news__info
                .news__date 20.11.2022
                a.news__title(data-crop=40) Почему переезд с CMS на 1С-Битрикс Управление сайтом - важный шаг для вашего бизнеса?
                .news__preview(data-crop=100) Переход на 1С-Битрикс Управление сайтом – прорыв в онлайн-бизнесе. У платформы 400 функций, куда входит аналитика, управление контентом, маркетинг, встроенная CRM и не только
            .news__more
                +more('Узнать больше', '#')

                
    .news-grid__item
        a.news__img(href="")
            img(src="images/news/2.jpg")
        .news__content
            .news__info
                .news__date 20.11.2022
                a.news__title(data-crop=40) Почему переезд с CMS на 1С-Битрикс Управление сайтом - важный шаг для вашего бизнеса?
                .news__preview(data-crop=100) Переход на 1С-Битрикс Управление сайтом – прорыв в онлайн-бизнесе. У платформы 400 функций, куда входит аналитика, управление контентом, маркетинг, встроенная CRM и не только
            .news__more
                +more('Узнать больше', '#')

    .news-grid__item
        a.news__img(href="")
            img(src="images/news/3.jpg")
        .news__content
            .news__info
                .news__date 20.11.2022
                a.news__title(data-crop=40) Почему переезд с CMS на 1С-Битрикс Управление сайтом - важный шаг для вашего бизнеса?
                .news__preview(data-crop=100) Переход на 1С-Битрикс Управление сайтом – прорыв в онлайн-бизнесе. У платформы 400 функций, куда входит аналитика, управление контентом, маркетинг, встроенная CRM и не только
            .news__more
                +more('Узнать больше', '#')

