.wrapper
    h2.section-title Реквизиты

    .req
        .rows
            .rows__title Наименование

            .rows__text ИП Чернецов Денис Александрович
        .rows
            .rows__title ИНН

            .rows__text 745313823503
        .rows
            .rows__title ОГРНИП

            .rows__text 318745600236302
        .rows
            .rows__title Расчетный счет

            .rows__text 40802810302500098245
        .rows
            .rows__title Наименование банка

            .rows__text ООО "Банк Точка"
        .rows
            .rows__title БИК

            .rows__text 044525104
        .rows
            .rows__title Корр. счет

            .rows__text 30101810745374525104
            