.side-info.wrapper
    h3.side-info__title Почему выбирают нас
    
    .side-info__content
        .side-info__text За 6 лет работы в сфере разработки сайтов  работы мы реализовали более 500 проектов и получили 90 наград


.dropdowns.wrapper
    .dropdown.expanded
        .dropdown__title 
            p Дизайн
            span 

        .dropdown__content
            .dropdown__content-inner
                .dropdown__line
                    .dropdown__left
                        span Дизайн лендинга
                        span от 14 рабочих дней
                    .dropdown__right от 100 тыс. руб.
                .dropdown__line
                    .dropdown__left
                        span Дизайн многостраничного сайта
                        span от 14 рабочих дней
                    .dropdown__right от 100 тыс. руб.
                .dropdown__line
                    .dropdown__left
                        span Разработка фирменного стиля
                        span от 14 рабочих дней
                    .dropdown__right от 100 тыс. руб.
                .dropdown__line
                    .dropdown__left
                        span Разработка логотипа
                        span от 14 рабочих дней
                    .dropdown__right от 100 тыс. руб.
                .dropdown__line
                    .dropdown__left
                        span Разарботка 3D модели
                        span от 14 рабочих дней
                    .dropdown__right от 5 000 руб.

    .dropdown
        .dropdown__title 
            p Разработка
            span 

        .dropdown__content
            .dropdown__content-inner
                .dropdown__line
                    .dropdown__left
                        span Верстка сайта
                        span от 14 рабочих дней
                    .dropdown__right от 100 тыс. руб.
                .dropdown__line
                    .dropdown__left
                        span Обучение работы в админке
                        span от 14 рабочих дней
                    .dropdown__right от 8 000 руб.
                .dropdown__line
                    .dropdown__left
                        span Разработка каталога на 1С Битрикс
                        span от 14 рабочих дней
                    .dropdown__right от 135 800. руб.

    .dropdown
        .dropdown__title 
            p CRM
            span 

        .dropdown__content
            .dropdown__content-inner
                .dropdown__line
                    .dropdown__left
                        span Внедрение amoCRM
                        span от 14 рабочих дней
                    .dropdown__right от 100 тыс. руб.
                .dropdown__line
                    .dropdown__left
                        span Внедрение Битрикс24
                        span от 14 рабочих дней
                    .dropdown__right от 100 тыс. руб.
                .dropdown__line
                    .dropdown__left
                        span Обучение CRM
                        span от 14 рабочих дней
                    .dropdown__right от 26 000 руб.
                .dropdown__line
                    .dropdown__left
                        span Аудит CRM
                        span от 14 рабочих дней
                    .dropdown__right от 100 тыс. руб.

    .dropdown
        .dropdown__title 
            p Продвижение
            span 

        .dropdown__content
            .dropdown__content-inner
                .dropdown__line
                    .dropdown__left
                        span Базовые SEO для нового сайта
                        span от 14 рабочих дней
                    .dropdown__right от 100 тыс. руб.
                .dropdown__line
                    .dropdown__left
                        span Дизайн рекламных материалов
                        span от 14 рабочих дней
                    .dropdown__right от 5 000 руб.
                .dropdown__line
                    .dropdown__left
                        span Таргет
                        span от 14 рабочих дней
                    .dropdown__right от 12 000 руб.



.services__btn.wrapper
    +button('ЗАКАЗАТЬ УСЛУГУ')
