section.team.wrapper
    
    .title-wrap

        h2.section-title Наша команда

        .slider__arrs.team__arrs
            .slider__arr.arr-l
                svg(width="43px" height="43px")
                    use(xlink:href="images/sprite.svg#arr-l")
            .slider__arr.arr-r
                svg(width="43px" height="43px")
                    use(xlink:href="images/sprite.svg#arr-r")

    .team__slider.swiper
        .swiper-wrapper
            .team__item.swiper-slide
                img.team__img(src="images/team/1.png")
                .team__name Чернецов Денис
                .team__info Основатель
                a.team__info(href="mailto: cda@iconica.site") cda@iconica.site
            .team__item.swiper-slide
                img.team__img(src="images/team/2.png")
                .team__name Прохоров Игорь
                .team__info Разработчик
                a.team__info(href="mailto: cda@iconica.site") hello@iconica.site
            .team__item.swiper-slide
                img.team__img(src="images/team/3.png")
                .team__name Орлова Василиса
                .team__info Проджект-менеджер
                a.team__info(href="mailto: cda@iconica.site") hello@iconica.site
            .team__item.swiper-slide
                img.team__img(src="images/team/4.png")
                .team__name Гончарова Алина
                .team__info Дизайнер
                a.team__info(href="mailto: cda@iconica.site") hello@iconica.site
            .team__item.swiper-slide
                img.team__img(src="images/team/5.png")
                .team__name Соколова Арина
                .team__info Менеджер по продажам
                a.team__info(href="mailto: cda@iconica.site") hello@iconica.site



    .title-wrap

        h2.section-title Сертификаты

        .slider__arrs.cert__arrs
            .slider__arr.arr-l
                svg(width="43px" height="43px")
                    use(xlink:href="images/sprite.svg#arr-l")
            .slider__arr.arr-r
                svg(width="43px" height="43px")
                    use(xlink:href="images/sprite.svg#arr-r")

    .cert__slider.swiper
        .swiper-wrapper
            .cert__item.swiper-slide
                a.cert__img--mob(data-fslightbox="gallery" href="images/cert/1.png")
                    img(src="images/cert/1.png")
                .cert__close
                    svg(width="21px" height="21px")
                        use(xlink:href="images/sprite.svg#cross")
                .cert__date 08.09.2022
                .cert__name Золотой партнер 1С-Битрикс
                .cert__descr Настоящим сертификатом подтверждается, что ICONICA является сертифицированным партнером Битрикс-24
                .cert__spoiler
                    +more('Смотреть сертификат')
                a.cert__img(data-fslightbox="gallery" href="images/cert/1.png")
                    img(src="images/cert/1.png")


            .cert__item.swiper-slide
                a.cert__img--mob(data-fslightbox="gallery" href="images/cert/2.png")
                    img(src="images/cert/2.png")
                .cert__close
                    svg(width="21px" height="21px")
                        use(xlink:href="images/sprite.svg#cross")
                .cert__date 04.04.2022
                .cert__name Партнер АСПРО
                .cert__descr Настоящим сертификатом подтверждается, что ICONICA является сертифицированным партнером АСПРО
                .cert__spoiler
                    +more('Смотреть сертификат')
                a.cert__img(data-fslightbox="gallery" href="images/cert/2.png")
                    img(src="images/cert/2.png")

            .cert__item.swiper-slide
                a.cert__img--mob(data-fslightbox="gallery" href="images/cert/3.png")
                    img(src="images/cert/3.png")
                .cert__close
                    svg(width="21px" height="21px")
                        use(xlink:href="images/sprite.svg#cross")
                .cert__date 05.07.2022
                .cert__name Партнер Некстайп
                .cert__descr Настоящим сертификатом подтверждается, что ICONICA является сертифицированным партнером Битрикс-24
                .cert__spoiler
                    +more('Смотреть сертификат')
                a.cert__img(data-fslightbox="gallery" href="images/cert/3.png")
                    img(src="images/cert/3.png")

    h2.section-title Реквизиты

    .req
        .rows
            .rows__title Наименование

            .rows__text ИП Чернецов Денис Александрович
        .rows
            .rows__title ИНН

            .rows__text 745313823503
        .rows
            .rows__title ОГРНИП

            .rows__text 318745600236302
        .rows
            .rows__title Расчетный счет

            .rows__text 40802810302500098245
        .rows
            .rows__title Наименование банка

            .rows__text ООО "Банк Точка"
        .rows
            .rows__title БИК

            .rows__text 044525104
        .rows
            .rows__title Корр. счет

            .rows__text 30101810745374525104
        