section.team.wrapper
    
    .title-wrap

        h2.section-title Наша команда

        .slider__arrs.team__arrs
            .slider__arr.arr-l
                svg(width="43px" height="43px")
                    use(xlink:href="images/sprite.svg#arr-l")
            .slider__arr.arr-r
                svg(width="43px" height="43px")
                    use(xlink:href="images/sprite.svg#arr-r")

    .team__slider.swiper
        .swiper-wrapper
            .team__item.swiper-slide
                img.team__img(src="images/team/1.png")
                .team__name Чернецов Денис
                .team__info Основатель
                a.team__info(href="mailto: cda@iconica.site") cda@iconica.site
            .team__item.swiper-slide
                img.team__img(src="images/team/2.png")
                .team__name Прохоров Игорь
                .team__info Разработчик
                a.team__info(href="mailto: cda@iconica.site") hello@iconica.site
            .team__item.swiper-slide
                img.team__img(src="images/team/3.png")
                .team__name Орлова Василиса
                .team__info Проджект-менеджер
                a.team__info(href="mailto: cda@iconica.site") hello@iconica.site
            .team__item.swiper-slide
                img.team__img(src="images/team/4.png")
                .team__name Гончарова Алина
                .team__info Дизайнер
                a.team__info(href="mailto: cda@iconica.site") hello@iconica.site
            .team__item.swiper-slide
                img.team__img(src="images/team/5.png")
                .team__name Соколова Арина
                .team__info Менеджер по продажам
                a.team__info(href="mailto: cda@iconica.site") hello@iconica.site
